.top_buffer {
    margin-top: 6rem;
    width: 100%;
}

/* Content Containers */
.page_container {
    display: block;
    overflow: hidden;
}

.container_md {
    max-width: calc(1194px + 5rem - 2rem);
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    display: inline-block;
    text-align: left;
    box-sizing: border-box;
}


/* Footer */
.global__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #282828;
    padding: 1rem;
}

.socials {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.socials__github,.socials__email,.socials__orcidid,.socials__scholar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s
}

.socials__github:hover,.socials__email:hover,.socials__orcidid:hover,.socials__scholar:hover {
    transform: scale(1.2)
}

.socials__github,.socials__email,.socials__orcidid,.socials__scholar {
    margin-right: 1rem
}

.socials img {
    height: 100%
}

.copyright__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.copyright__texts {
  color: #fafafa74;
  font-size: 10px;
  font-weight: 500;
  padding-right: 2rem;
}


.copyright_confidentiality {
  color: #fafafa;
  font-size: 10px;
  font-weight: 700;
  padding-right: 2rem;
}

.copyright_confidentiality:hover {
  color: #008ec9;
  text-decoration: underline;
}

.return-home {
    width: 40px;
    height: 45px;
    text-align: center;
    background-color: #008ec9;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

.return-home:hover {
    cursor: pointer;
    animation-name: bounce;
    -moz-animation-name: bounce
}

.return-home svg {
    width: 100%
}